<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863082135091-b2lf6dokbpjknnb06mp50e32psf7a7fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863082135091-b2lf6dokbpjknnb06mp50e32psf7a7fb</string>
	<key>API_KEY</key>
	<string>AIzaSyCEb8jKFvcTyO98fFPbcjKco6ICvP6mi64</string>
	<key>GCM_SENDER_ID</key>
	<string>863082135091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babyfoodgram</string>
	<key>PROJECT_ID</key>
	<string>babyfoodgram</string>
	<key>STORAGE_BUCKET</key>
	<string>babyfoodgram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863082135091:ios:79d9740893c05b4f0d2d46</string>
</dict>
</plist>